<div id="home-row-top" class="row align-items-center">
  <div class="col"></div>
  <div class="col-8">
    <h1>What I'm <span>about.</span></h1>
  </div>
  <div class="col"></div>
</div>

<div id="home-row-middle" class="row align-items-start">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <h3>
      <span>I'm a chemist turned coder!</span>
      <br />
      <br />
      As a chemist, I worked with a lot of data. Actually.. I collected messy
      numbers and copy-pasted them into 80's-era Excel spreadsheets. It was
      terrible and tedious, but also inspirational.
      <br />
      <br />
      I picked up scripting languages to automate data collection and
      calculations. I learned to automate plot creation and reports. After
      automating the boring stuff, I created dashboards to track and make
      predictions about the business. I was really into it!
      <br />
      <br />
      Fast forward to today and I'm holding a Masters in Data Analytics and
      currently working as a full stack developer! You'll find a few projects
      here using skills I've picked up along the way.
      <br />
      <br />
      Thanks for looking!
    </h3>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="home-row-middle-small" class="row align-items-start">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <h3>
      <span>From beakers to brackets!</span>
      <br />
      <br />
      I'm a chemist turned coder with a data-driven background. I started off
      with manual data handling, then automated processes with heavy scripting.
      <br />
      <br />
      I developed my skills creating automated plots and reports, and finally
      with predictive dashboards. I'm now a full stack developer with a Masters
      in Data Analytics.
      <br />
      <br />
      Check out my projects below. Thanks!
    </h3>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="home-row-bottom" class="row">
  <app-map></app-map>
</div>
