<div id="home-row-top" class="row align-items-center">
  <div class="col"></div>
  <div class="col-8">
    <h1>What I'm <span>about.</span></h1>
  </div>
  <div class="col"></div>
</div>

<div id="home-row-middle" class="row align-items-start">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <h3>I'm a chemist turned coder!</h3>
    <h4>
      <br />
      As a chemist,
      <span class="text-hover">I worked with a lot of data.</span> Actually.. I
      collected messy numbers and copy-pasted them into 80's-era Excel
      spreadsheets. It was terrible and tedious, but also inspirational.
      <br />
      <br />
      I picked up scripting languages to automate data collection and
      calculations. I learned to automate plot creation and reports. After<span
        class="text-hover"
      >
        automating the boring stuff,</span
      >
      I created dashboards to track and make predictions about the business. I
      was really into it.
      <br />
      <br />
      Fast forward to today and I'm holding a
      <span class="text-hover">Masters in Data Analytics</span> and currently
      working as a <span class="text-hover">Full Stack Developer!</span> You'll
      find a few projects here using skills I've picked up along the way.
      <br />
      <br />
      Thanks for looking!
    </h4>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="home-row-middle-small" class="row align-items-start">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <h3>From beakers to brackets<a routerLink="/secret">!</a></h3>
    <h4>
      <br />
      I'm a chemist turned coder with a
      <span class="text-hover">data-driven background</span>. I started off with
      manual data handling, then automated processes with heavy scripting.
      <br />
      <br />
      I developed my skills creating automated plots and reports, and finally
      with predictive dashboards. I'm now a
      <span class="text-hover">full stack developer</span> with a
      <span class="text-hover">Masters in Data Analytics</span>.
      <br />
      <br />
      Check out my projects below. Thanks!
    </h4>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="home-row-bottom" class="row">
  <app-map></app-map>
</div>
