<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img
        src="/assets/about/headshot.jpg"
        class="img-fluid rounded-5"
        alt="self-portrait"
      />
    </div>
    <div class="col-md-8">
      Esse mollit velit ex culpa nostrud mollit incididunt voluptate. Esse veniam
      irure ipsum in in ipsum dolor minim. Veniam tempor laboris dolor occaecat
      deserunt culpa ad magna nisi ea est Lorem exercitation eu. Laboris deserunt
      anim ullamco fugiat id proident irure adipisicing qui est voluptate.
      Adipisicing velit Lorem cupidatat eiusmod mollit est enim nulla deserunt
      labore anim culpa sit incididunt. Consequat ex sunt anim cupidatat
      adipisicing ad culpa. Adipisicing ullamco minim nulla id enim dolor
      excepteur consequat sint. Eiusmod officia dolor veniam ullamco non consequat
      nulla veniam. Magna minim laboris duis ut sunt consequat laborum. Ex labore
      qui elit magna esse nulla ipsum deserunt fugiat occaecat ex. Aliqua minim
      laborum sint ex qui in ipsum pariatur eu culpa. Pariatur do fugiat excepteur
      exercitation officia.
    </div>
  </div>
</div>
