@use "/src/styles.scss" as *;

$about-height-top: 15vh;
$about-height-mid: 50vh;
$about-height-bot: calc(100vh - $about-height-top - $about-height-mid - 70px);

#home-row-top{
  height: $about-height-top;
}

#home-row-middle,
#home-row-middle-small{
  height: $about-height-mid;
}
#home-row-middle-small{
  display: none;
}

.text-hover {
  transition: all $image-hover-transition-time;
  &:hover {
    transition: all $image-hover-transition-time;
    color: rgb(235, 96, 61);
  }
}

#home-row-bottom, #about-map {
  height: $about-height-bot;
  overflow: hidden;
}

@media only screen and (max-width: 1280px) {
  h3{
    @include font-size(2rem);
  }
  h4 {
    @include font-size(1.3rem);
  }
}

@media only screen and (max-width: 768px) {
  h3{
    @include font-size(1.5rem);
  }
  h4 {
    @include font-size(1.2rem);
  }
  #home-row-middle{
    padding: 0 2em 0 2em;
  }
}

@media only screen and (max-width: 576px) {
  h3{
    @include font-size(2rem);
  }
  h4 {
    @include font-size(1.4rem);
  }
  #home-row-middle-small{
    display: flex;
    padding: 0 2em 0 2em;
  }
  #home-row-middle{
    display: none;
  }
}
