<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 p-3">
  
  <div class="col mb-4" *ngFor="let project of projects">
    <div class="card h-100">
      <div class="card-header h-100">
        <div class="row align-items-center">
          <div class="col me-auto project-title">
            {{ project.title }}
          </div>
          <div class="col-auto">
            <fa-icon
              [icon]="info"
              class="btn project-info-icon"
              (click)="openModal(project)"
              data-bs-toggle="modal"
              data-bs-target="#infoModal"
            ></fa-icon>
          </div>
        </div>
      </div>

      <a href="{{ project.imageLink }}" target="_blank">
        <img
          [src]="project.imagePath"
          alt="..."
          class="project-hover card-img-bottom h-100"
        />
      </a>
    </div>
  </div>
</div>

<!-- INFO Modal -->
<div
  class="modal fade"
  id="infoModal"
  tabindex="-1"
  aria-labelledby="infoModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="modal-title fs-5" id="infoModal">
            {{ selectedProject?.title }}
          </div>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <p class="lead">{{ selectedProject?.description }}</p>

        <div class="row">
          <div class="col"></div>
          <div class="col-6"><hr class="separator" /></div>
          <div class="col"></div>
        </div>

        <!-- <p>{{ selectedProject?.details }}</p> -->
        <div [innerHTML]="selectedProject?.details"></div>

        <div class="row">
          <div class="col"></div>
          <div class="col-6"><hr class="separator" /></div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col project-icon-links">
            <a
              *ngIf="selectedProject?.infoGitLink"
              [href]="selectedProject?.infoGitLink"
              target="_blank"
            >
              <fa-icon
                class="project-icon"
                [icon]="gitBranch"
                ngbTooltip="Git repo"
                placement="top auto"
                [openDelay]="900"
                [closeDelay]="300"
              ></fa-icon>
            </a>
            <a
              *ngIf="selectedProject?.infoProjectLink"
              [href]="selectedProject?.infoProjectLink"
              target="_blank"
            >
              <fa-icon
                class="project-icon"
                [icon]="newWindow"
                ngbTooltip="Open project"
                placement="top auto"
                [openDelay]="900"
                [closeDelay]="300"
              ></fa-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <ng-container
          *ngFor="let tag of selectedProject?.tags; let last = last"
        >
          <div class="tag-item me-2">
            {{ tag }}
            <span *ngIf="!last"></span>
          </div>
        </ng-container>
        <!-- {{ selectedProject?.tags }} -->
        <!-- <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
          Close
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- PROJECT Modal -->
<div
  class="modal fade"
  id="projectModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5 class="card-title">{{ selectedProject?.title }}</h5>
        <p class="card-text">{{ selectedProject?.description }}</p>

        <div class="project-container border-3 p-3">
          <iframe src="http://ed-yu.com/projects/boardGameNodes.html">
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
