@use "/src/styles.scss" as *;

.project-info-icon {
  font-size: 1em;
  opacity: 80%;
  &:hover {
    color: $accent-color;
  }
}

.project-hover {
  transition: all $image-hover-transition-time;
  filter: grayscale(100%);
  opacity: 95%;
  &:hover {
    transition: all $image-hover-transition-time;
    filter: grayscale(0%);
  }
}

.card-header {
  background-color: white;
  padding: 2px 1em 2px 1em;
}

.modal-footer {
  padding: 3px 1em 3px 1em;
}

.project-title {
  font-family: $headline-font-family;
  font-weight: 200;
}

.project-description {
  font-family: $headline-font-family;
  font-size: 1.5rem;
  font-weight: 500;
}

.tag-item {
  font-family: $tags-font-family;
  color: grey;
  @include font-size(.9rem)
}

.separator {
  opacity: .1;
}

// .project-git-square {
//   font-size: 2em;
// }

// .project-new-window{
//   font-size: 1.9em;
// }

.project-icon {
  font-size: 2em;
  padding: 0 15px 0 15px;
  color: $navbar-font-color;
  transition: all 500ms;
  &:hover {
    color: $accent-color;
    transition: all 500ms;

  }
}
