<nav id="navbar" class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EDYU</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav container justify-content-center page-navigation">
        <a class="nav-link" href="#home">Home</a>
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#projects">Projects</a>
      </div>
      <div class="navbar-nav social-icons">
        <a class="nav-link" href="https://www.linkedin.com/in/yuedward4/" target="_blank">
          <span>LinkedIn</span>
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a class="nav-link" href="https://github.com/tastyCanOfMalk" target="_blank">
          <span>Github</span>
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a class="nav-link" href="#" onclick="window.open('mailto:hello@ed-yu.com?subject=Hello%20From%20Your%20Website!&body=Hey!');">
          <span>Email</span>
          <fa-icon [icon]="faAt"></fa-icon>
        </a>
        <a class="nav-link" href="https://drive.google.com/file/d/15pFKTNkpUsXbrrMBviFA9EEIkQA1w5fg/view?usp=sharing" target="_blank">
          <span>Resume</span>
          <fa-icon [icon]="faFileLines"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>