@use "/src/styles.scss" as *;

// VARS
$navbar-font-size: 1.2rem;
$navbar-icon-size: 1.1rem;
$navbar-color: white;
$navbar-font-family: "Karla", sans-serif;
$navbar-font-weight: 500;
$navbar-font-color: #3e4147;

.navbar {
  background-color: $navbar-color;
  font-family: $navbar-font-family;
  font-weight: $navbar-font-weight;

  & a {
    color: $navbar-font-color;
  }

  & .navbar-brand {
    margin: 0 0 0 1rem;
  }

  & .page-navigation {
    font-size: $navbar-font-size;
    padding: 0 0 0 1rem;
    & .nav-link {
      margin: 0 1rem 0 0;
      &:hover {
        color: $accent-color;
      }
    }
  }

  & .social-icons {
    font-size: $navbar-icon-size;
    padding: 0 1rem 0 0;
    & .nav-link {
      &:hover {
        color: $accent-color;
      }
      & span {
        display: none;
        padding: 0 0 0 1rem;
      }
    }
  }

  & .navbar-collapse.show .social-icons {
    & .ng-fa-icon {
      float: inline-end;
      margin-right: 2rem;
    }
    & .nav-link span {
      font-size: $navbar-font-size;
      display: inline-block;
    }
  }
}
