
<div class="row align-items-center">
  <div class="col"></div>
  <div class="col-8 text-sm-start">
    <h1>
      <span>Hello,</span><br />
      I'm Eddie.
    </h1>
  </div>
  <div class="col"></div>
</div>

<div class="row align-items-start">
  <div class="col"></div>
  <div class="col-auto">
    <img
      src="/assets/home/headshot.jpg"
      class="img-fluid self-portrait color-on-hover rounded-full"
      alt="self-portrait"
    />
  </div>
  <div class="col"></div>
</div>

<div class="row align-items-center pb-5">
  <div class="col"></div>
  <div class="col-8 text-md-end">
    <h2>Welcome to my little sandbox of projects.</h2>
  </div>
  <div class="col"></div>
</div>
