@use "/src/styles.scss" as *;

.container-fluid .row {
  height: 25vh;
}

// screen smaller than max-width, change image size and div spacing
@media screen and (max-width: 576px) {
  .self-portrait {
    max-width: 250px;
    max-height: 250px;
  }
  .container-fluid .row {
    height: 30vh;
  }
  h1 {
    @include font-size(5rem);
  }
  h2 {
    @include font-size(3rem);
  }
}

@media screen and (min-width: 577px) {
  .self-portrait {
    max-width: 350px;
    max-height: 350px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

h1 {
  font-family: $headline-font-family;
  font-weight: 800;
  // font-size: 5rem;
  // @include font-size(5rem);

  & span {
    color: $navbar-hover-color;
  }
}

h2 {
  font-family: $headline-font-family;
  font-weight: 200;
  // @include font-size(3rem);
}
